body{
    font-family: 'Times New Roman', Times, serif;
}
h1, h3, h4, h5, h6
{
    font-family: 'Arial', 'Helvetica', sans-serif;

}
h2 g{
    font-size: 2rem;
}
a{
    font-family: 'Helvetica', sans-serif;
}
